@use '../../../styles/variables' as *;

.wrapper {
  display: block;
  width: 100%;
  margin: -1px 0;
  line-height: 0;
}

.wave {
  display: block;
  width: 100%;
  height: auto;

  path {
    transition: fill $transition-slow;
  }
}

.flip {
  transform: scaleY(-1);
}
