@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.section {
  @include section-padding;
  position: relative;
  overflow: hidden;
  background-color: $color-bg;
}

.container {
  @include container;
}

.altBg {
  background-color: $color-bg-alt;
}

